#cloud ul{
width: 750px;
margin: 35px auto 0px auto;
overflow: hidden;

}

#cloud ul li{
    float: left;
    color: #3c3c3c;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 39px;
}

#cloud ul li:nth-child(3n+1){
    width: 310px;
}
#cloud ul li:nth-child(3n+2){
    width: 240px;
}
#cloud ul li:nth-child(3n+3){
    width: 200px;
}

#cloud ul span{
    font-size: 39px;
    position: relative;
    top: 5px;
}