body {
  margin: 0;
  padding: 0;
}
.slajder-wrapper {
  display: block;
  overflow: auto;
  height: 400px;
  position: relative;
}
.slajder-wrapper img {
  display: block;
  position: absolute;
  top: 0;
}

.control-panel {
  border: solid 2px black;
  width: 5%;
  height: 5%;
  position: absolute;
  left: 50%;
  top: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-panel2 {
  border: solid 2px black;
  width: 5%;
  height: 5%;
  position: absolute;
  left: 60%;
  top: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slajder-ax:target {
  display: none;
  position: relative;
  overflow: hidden;
}
#slajder-ax:target {
  position: relative;

  overflow: hidden;
  height: 400px;

  cursor: pointer;
}
#slajder-ax > img {
  position: absolute;
  top: 0;
}
#slajder:target {
  display: none;
  position: relative;
  overflow: hidden;
}
#slajder:target {
  position: relative;

  overflow: hidden;
  height: 400px;

  cursor: pointer;
}
#slajder > .img {
  position: absolute;
  top: 0;
}

.slajder-1:target {
  display: none;
}

.slajder-2:target {
  display: none;
}

.slajder-3:target {
  display: none;
}

.slajder-4:target {
  display: none;
}

.desen {
  width: 100%;
  height: 20em;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: #58a;
  background-image: linear-gradient(white 2px, transparent 0),
    linear-gradient(90deg, white 2px, transparent 0),
    linear-gradient(hsla(0, 0%, 100%, 0.3) 1px, transparent 0),
    linear-gradient(90deg, hsla(0, 0%, 100%, 0.3) 1px, transparent 0);
  background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
}

.desen-1 {
  width: 100%;
  height: 20em;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background: white;
  background-image: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.5) 50%,
      transparent 0
    ),
    linear-gradient(rgba(255, 0, 0, 0.5) 50%, transparent 0);
  background-size: 150px 150px;
}
.desen-kamil {
  width: 100%;
  height: 20em;

  background: rgb(26, 56, 91);
  background-image: linear-gradient(
      90deg,
      rgb(80, 130, 163, 0.5) 48%,
      transparent 0
    ),
    linear-gradient(90deg, rgba(255, 0, 0, 0.5) 6%, transparent 0),
    linear-gradient(rgba(123, 100, 9, 0.5) 6%, transparent 0),
    linear-gradient(rgb(63, 114, 147, 0.5) 48%, transparent 0);
  background-size: 15px 15px;
  border: 2px dotted gray;
}
.desen-przejscie {
  width: 100%;
  height: 20em;

  background: white;
  background-image: linear-gradient(90deg, white 48%, transparent 0),
    linear-gradient(90deg, black 6%, transparent 0),
    linear-gradient(rgb(55, 54, 54) 6%, transparent 0),
    linear-gradient(grey 48%, transparent 0);
  background-size: 75px 75px, 15px 15px, 15px 15px;
  border: 2px dotted gray;
}
.desen-2 {
  width: 100%;
  height: 20em;
  border-bottom: 5px solid black;
  background: black;
  background-image: radial-gradient(tan 30%, grey 50%, transparent 0),
    radial-gradient(tan 30%, grey 50%, transparent 0);
  background-size: 100px 100px;
  background-position: 0 0, 15px 15px;
}
.desen-3 {
  width: 100%;
  height: 20em;
  border-bottom: 5px solid black;
  background: #eee;
  background-image: linear-gradient(45deg, #bbb 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #bbb 0);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}

.desen-4 {
  width: 100%;
  height: 20em;
  border-bottom: 5px solid black;
  background: rgba(4, 74, 4);
  background-image: radial-gradient(
    rgba(13, 195, 13, 0.529) 20%,
    rgba(2, 40, 2, 0.468) 40%
  );
  background-image: radial-gradient(
    rgba(13, 195, 13, 0.529) 20%,
    rgba(4, 4, 65, 0.512)
  );
  background-blend-mode: difference;
}

.desen-5 {
  width: 100%;
  height: 20em;
  border-bottom: 5px solid black;
  background: yellowgreen;
  background-size: 100px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lorem-1 {
  border: 20px solid white;
  position: relative;
  padding: 20px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  border-image: linear-gradient(#fbb300, #d53e33, #399953) 50;

  animation: yupi 10s linear infinite;
}

@keyframes ants {
  to {
    background-position: 100% 100%;
  }
}
.desen-7 {
  background: repeating-linear-gradient(
      -45deg,
      #399953 0,
      #fbb300 75%,
      transparent 0,
      transparent 25%
    )
    0 / 2em 2em;
  animation: ants 12s linear infinite;

  max-width: 100%;
  height: 20em;
}
.form {
  border-top: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-1 {
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 100% 0 0 100%/50%;
}

.form-2 {
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0 100% 100% 0/50%;
}
.form-3 {
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 100% 100% 100% 100%/50%;
  box-shadow: 4px 4px 4px 4px #399953, inset 4px 4px 4px 4px #399953;
}
.form-4 {
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0 0 0 100%/50%;
}

.picture {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  width: 100%;
  height: 30em;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 164, 173);
}
.kot {
  padding: 20px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  cursor: pointer;
}

.kot:hover {
  clip-path: polygon(50% 0, 100% 100%, 100% 100%, 0 50%);
  transform: scale(1.25);
}

.box-shadow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20em;
  background-color: purple;
  border-bottom: 5px solid black;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: white;
  box-shadow: 0px 10px 4px -4px black,
    inset -5px -10px 4px 4px rgb(205, 217, 252);
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: white;
  box-shadow: 10px 0 4px -4px black, inset -10px 0 4px 4px rgb(205, 217, 252),
    -10px 0 4px -4px black, inset 10px 0 4px 4px rgb(205, 217, 252);
}

.matowe-szklo {
  width: 100%;
  height: 20em;
  background-color: #58a;
  border-bottom: 5px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.matowy-box {
  width: 530px;
  height: 230px;
  border-radius: 0.3em;
  background: rgba(255, 0, 0, 0.207);
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.3) inset,
    0 0.5em 1em rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.matowy-tekst {
  width: 450px;
  font-size: large;
  font-weight: 400;
  font-family: fantasy;
  z-index: 1;
  text-align: center;
}
.matowy-box::after {
  content: "";
  width: 500px;
  height: 200px;
  position: absolute;
  top: 0;
  background-color: rgba(245, 245, 245, 0.501);
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(30px);
}

.notatka {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbb300;
}

.note {
  width: 500px;
  height: 800px;
  margin: 50px 0;
  background-image: linear-gradient(
    to right bottom,

    rgba(246, 244, 235, 0.436) 97%,
    transparent 97%
  );
  filter: drop-shadow(4px 4px 4px black);

  position: relative;
}

.note::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.73em;
  height: 3em;
  background-image: linear-gradient(
    to left top,
    transparent 50%,
    rgba(246, 244, 235, 0.436) 51%
  );
}
.note-text {
  font-size: 16px;
  line-height: 1.6;
  font-family: monospace;
  text-align: justify;
  padding: 10px;
  hyphens: auto;
  text-decoration-color: #d53e33;
  text-decoration: dashed;
}

.typografia-pasiak {
  max-width: 100%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 20px;
  font-size: large;
  line-height: 1.7em;
  hyphens: auto;
  background-image: linear-gradient(white 50%, rgba(144, 9, 122, 0.2) 50%);
  background-size: auto 3em;
  background-origin: content-box;
}

.text-shadow-typo {
  max-width: 100%;
  background-color: rgb(24, 24, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid black;
}

.text-shadow-1 {
  font-size: 58px;
  color: white;
  text-shadow: 0 0 1em, 0 0 3em;
}

.text-shadow-2 {
  margin: 10%;
  font-size: 58px;
  color: white;
  text-shadow: 0 1px 1em hsl(0, 0%, 85%), 0 2px hsl(0, 0%, 80%),
    0 3px hsl(0, 0%, 75%), 0 4px hsl(0, 0%, 70%), 0 5px hsl(0, 0%, 65%),
    0 5px 10px black;
}

.text-shadow-3 {
  margin: 10%;
  font-size: 58px;
  color: white;
  font-family: monospace;
  text-shadow: 0 0 1em white, 1px 1px black, 2px 2px black, 3px 3px black,
    4px 4px black, 5px 5px black, 6px 6px black, 7px 7px 7px black;
}
.scroll-list {
  width: 100%;
  border-top: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.scroll-menu {
  display: inline-block;
  list-style-type: none;
  overflow: auto;
  padding: 5%, 2%;
  font-size: 50px;
  font-weight: 400;
  font-family: monospace;
  width: 20%;
  height: 5em;
  border: 2px solid silver;

  background-attachment: local, scroll, local, scroll;

  background: linear-gradient(white 15px, hsla(0, 0%, 100%, 0)) 0 0 / 100% 50px,
    radial-gradient(at top, red, transparent 70%) 0 0 / 100% 15px,
    linear-gradient(to top, white 15px, hsla(0, 0%, 100%, 0)) bottom / 100% 50px,
    radial-gradient(at bottom, red, transparent 70%) bottom / 100% 15px;
  background-repeat: no-repeat;
  background-attachment: local, scroll, local, scroll;
}
